*.xlsx
*.xls
*.csv
*.docx
*.doc
*.pdf

__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
env/
ENV/
dist/
build/
*.egg-info/

.ipynb_checkpoints/
*.ipynb

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride

*.log
*.tmp
*.bak
*.swp
*~